.capabilities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.workCard {
    border: .1px solid rgba(128, 128, 128, 0.315);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.workCard  h2 {
    font-weight: 800;
    border-bottom: .1px solid rgba(128, 128, 128, 0.299);
    padding-bottom: 10px;
    position: relative;
}

.currentlyWorking {
    float: right;
    font-weight: 300;
    font-size: 14px;
    color: rgb(26, 137, 23);
}

.timeSpan {
    float: right;
    font-weight: 300;
    font-size: 14px;
    border: .1px solid rgba(128, 128, 128, 0.458);
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}