.butn {
    display: flex;
    padding: 10px 12px 10px 12px;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 30px;
    gap: 4px;
    align-items: center;
}

.btnPrimary {
    background-color: #000000;
}

.btnPrimary:hover {
    background-color: #000000db;
}

.btnSecondary {
    background-color: rgb(26, 137, 23);
}

.btnSecondary:hover {
    background-color: rgb(15, 88, 13);
}
