.profileImageContainer {
    height: 500px;
    width: 500px;
    position: relative;
    text-align: center;
}


.heroTitle {
    font-weight: 900;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.75);
}

.skills {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skillHeading {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}