.err {
    color: tomato;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 20px;
}

.success {
    color: rgb(0, 128, 53);
    font-size: 14px;
    font-style: italic;
    padding-top: 20px;
}