.wrapper {
    margin-bottom: 40px !important;
    border: .1px solid rgba(128, 128, 128, 0.237) !important;
    padding: 20px;
    overflow: hidden;
}

.readMoreContent {
    max-height: 300px;
    overflow: hidden;
}

.readMoreWrp {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    backdrop-filter: blur(5px);

}

.readMoreBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 13px;
}