.viewAllBtn {
    font-size: 15px;
    margin: auto;
}

.mainSec {
    margin-top: 80px;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .mainSec {
        margin-top: -30px;
    }
    .bg-dark {
        background-color: rgba(0, 0, 0, 0.778);
    }
    .s {
        color: #2952e83e;
    }
}
