/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bg-gradient {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.code-type {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.sctrd-bg {
  background: linear-gradient(
      180.21deg,
      #fff9f9 -64.58%,
      rgba(255, 255, 255, 0.1) 115.31%
    ),
    linear-gradient(90deg, #42d392 0%, #28a36c 25%, #647eff 100%);
}

.web-builder {
  pointer-events: none;
}
.web-builder .navbar {
  background-color: white;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.141);
  padding: 10px 10px;
  font-size: 12px;
}

.web-builder .navbar .nav-items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.web-builder .navbar .nav-items .butn {
  background-color: #6c61f6;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

.builder-txt {
  margin-top: 50px;
}

.builder-txt h2 {
  font-size: 20px;
  font-weight: 700;
}

.builder-txt p {
  font-size: 15px;
  font-weight: 300;
}

.codeContainer::-webkit-scrollbar {
  display: none;
}

.codeContainer pre::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.list-border-rounded ul li:first-child {
  border-top: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-border-rounded ul li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

pre {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin: 20px 0;
  overflow: scroll;
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
::-webkit-scrollbar {
  width: 2px;

  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black; /* gradient for the thumb */
  border-radius: 0px; /* roundness of the scrollbar thumb */
}

.text-stroke {
  letter-spacing: -0.02em;
  -webkit-text-stroke: 1px #000;
  color: transparent; /* Adjust the color and width as needed */
}

.bg-gradient-blur {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.75) 18%,
    hsla(0, 0%, 100%, 0.9) 22%,
    #fff
  );
  bottom: 0;
  content: "";
  height: 275px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.highlight {
  display: inline-flex;
  font-weight: inherit;
  position: relative;
  z-index: 2;
}
.highlight:before {
  background-color: #00c16a;
  bottom: 11px;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.highlightLine {
  display: inline-block;
  position: relative;
  padding-bottom: 10px; /* Adjust based on SVG height */
}

.curved-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #59c26c83; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll-padding {
  scroll-padding: 250px; /* You can adjust the padding value as needed */
}

.lh-gauge__wrapper {
  width: 160px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  padding: 8px;
  --transition-length: 1s;
  contain: content;
  will-change: opacity;
  color: #080;
  fill: #0c6;
  stroke: #0c6;
}
.lh-gauge__percentage {
  width: 100%;
  height: 120px;
  line-height: 120px;
  position: absolute;
  font-size: calc(120px * 0.34 + 1.3px);
  text-align: center;
  top: 8px;
}
.lh-gauge {
  stroke-linecap: round;
  width: 120px;
  height: 120px;
}
.lh-gauge-base {
  opacity: 0.1;
}

.lh-gauge-arc {
  fill: none;
  transform-origin: 50% 50%;
  animation: load-gauge var(1s) ease both;
  animation-delay: 250ms;
}

.bg-animated {
  background: repeating-linear-gradient(
    135deg,
    #000,
    #000 23%,
    #0000008c 23%,
    #0000008c 27%,
    #000 27%,
    #000 28%,
    #0000008c 28%,
    #0000008c 30%
  );
  background-size: 40rem 40rem;
  animation: linear-reverse 5s ease-out infinite;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ib-header__experience-scaler-cta--animated {
  display: flex;
  align-items: center;
  gap: 10px;
  background: repeating-linear-gradient(
    135deg,
    #000,
    #000 23%,
    #0000008c 23%,
    #0000008c 27%,
    #000 27%,
    #000 28%,
    #0000008c 28%,
    #0000008c 30%
  );
  background-size: 40rem 40rem;
  animation: linear-reverse 5s ease-out infinite;
  position: relative;
}

@keyframes linear-reverse {
  0% {
    background-position: 100% 0;
  }
  30% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Hide scrollbar for all elements */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for Internet Explorer, Edge */
.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.scale {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.scale:hover {
  transform: rotateZ(-1.5deg) scale(1.1);
  box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.2);
  transition: all ease-out 0.2s;
}

.scale2 {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.scale2:hover {
  transform: rotateZ(-1deg) scale(1);
  transition: all ease-out 0.3s;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiline-ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
