.header {
    width: 100%;
    border-radius: 0px !important;
    background-color: white !important;
    margin-bottom: 0px !important;
    overflow: hidden;
    z-index: 10;
    position: fixed !important;
}


@media (min-width: 768px) {
    .header {
        border-radius: 0px;
        border-radius: 0px;
        background-color: white;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        display: none;
    }
}

.navHeading {
    font-weight: 900 !important;
    font-size: 38px !important;
    color: rgba(0, 0, 0, 0.765) !important;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}