.profileSec  {
    margin-top:100px;
}
.profileSec h2 {
    font-size: 17px;
    color: black;
    text-transform: none;
}

.profileSec p {
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
}

.profileSec small {
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

.btnGrp {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btnGrp svg {
    font-size: 12px;
}

.flexBtn {
    display: flex !important;
    gap: 4px;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .btnGrp {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .profileSec  {
        margin-top:10px;
    }
 }

 @media only screen and (max-width: 600px) { 
    .copyright {
        margin-top: -10px;
    }
 }