

.listArtWrp {
    display: flex;
    gap: 30px;
    padding: 20px;
    cursor: pointer;
    border: .1px dashed rgba(128, 128, 128, 0.423);
   
}

.listArtWrp:hover {
    background-color: whitesmoke;
}

.listArtImg {
    position: relative;
    min-width: 250px;
    height: 150px;
}

.articleDtl {
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(0, 0, 0, 0.605);
}

.listArtImg {
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .listArtWrp {
        display: flex;
        flex-direction: column;
        gap: 2px;
        border: .1px dashed rgba(128, 128, 128, 0.423);
    }
    .listArtImg {
        position: relative;
        min-width: 250px;
        height: 100px;
    }
    .heading {
        display: block;
        text-align: center;
        background-color: white;
    }

    .listArtImg {
        object-fit: cover;
    }
  }

  .modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.295);
    left: 0;
    top: 0;
    z-index: 9999;
  }

  .modal .modalContent {
    cursor: default;
    background-color: white;
    position: fixed;
    padding: 10px 20px 10px 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 350px;

    border: 5px solid;
    border-image: linear-gradient(45deg, gold, deeppink) 1;
    clip-path: inset(0px round 0px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
  }

  @keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

  .modalContent h2 {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.762);
    border-bottom: .1px dashed rgba(0, 0, 0, 0.221);
    padding-bottom: 10px;
  }

  .atchedFiles {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .atchedFiles .files {
    text-align: center;
    border: .1px dashed rgba(128, 128, 128, 0.274);
    padding: 10px;
  }

  .files:hover {
    cursor: pointer;
    background-color: #1b891711;
  }

  .files a {
    display: block;
    color: #1a8917;
    font-weight: 500;
  }
  .clsBtn {
    font-size: 25px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
  }

  @media only screen and (max-width: 600px) {

    .modal .modalContent {
        width: 90%;
      }
    
      .modalContent h2 {
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        color: black;
        border-bottom: .1px dashed rgba(0, 0, 0, 0.221);
        padding-bottom: 10px;
      }
  }



