.listArtWrp {
    display: flex;
    gap: 30px;
    padding: 20px;
    cursor: pointer;
}

.listArtWrp:hover {
    background-color: whitesmoke;
}

.listArtImg {
    position: relative;
    min-width: 250px;
    height: 150px;
}

.articleDtl {
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(0, 0, 0, 0.605);
}

@media only screen and (max-width: 600px) {
    .listArtWrp {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .listArtImg {
        position: relative;
        min-width: 250px;
        height: 100px;
    }
    .heading {
        display: block;
        text-align: center;
        background-color: white;
    }
  }